name: Unit-Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-framework:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.26"
      - name: Run framework tests
        working-directory: ./framework
        run: |
          go mod tidy
          go test ./...

  test-gateway:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "1.26"
      - name: Run gateway tests
        working-directory: ./gateway
        run: |
          go mod tidy
          go test ./...
